In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("train.csv")

In [3]:
data.head()
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
print(data.columns.values)
print(" ")
data.info()

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

Categorical:Survived, Sex, Embarked
Ordinal:Pclass
Continous:Age,Fare
Discrete:SibSp, Parch
Mixed:ticket

Name can have some errors: quotes, parantheses 
Cabin is not complete at all
Age has NaN

5 int, 5 strings, 2 floats

In [5]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

So I think we should drop:
ticket %22 duplicates
cabin feature too much blanks
passenger Id
name 
Create:
Age bands
Family: Parch+SibSp
Title from name

In [11]:
parch = np.array(data['Parch'])
sibsp = np.array(data['SibSp'])
n = parch.shape[0]
fam = np.array([parch[i] + sibsp[i] for i in range(n)])
for i in range(n):
    print(parch[i], sibsp[i], fam[i])
data['fam'] = fam

0 1 1
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
1 3 4
2 0 2
0 1 1
1 1 2
0 0 0
0 0 0
5 1 6
0 0 0
0 0 0
1 4 5
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 3 4
5 1 6
0 0 0
2 3 5
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
0 2 2
0 1 1
0 1 1
0 1 1
0 0 0
2 1 3
0 0 0
0 0 0
0 1 1
0 0 0
0 2 2
0 1 1
1 4 5
0 0 0
0 1 1
0 1 1
1 0 1
0 0 0
0 0 0
0 0 0
2 1 3
2 5 7
0 0 0
0 0 0
0 1 1
2 3 5
0 0 0
1 1 2
0 0 0
0 0 0
2 4 6
0 2 2
0 0 0
2 5 7
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
2 0 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 3 3
3 1 4
0 0 0
2 3 5
0 0 0
0 0 0
0 0 0
0 1 1
2 1 3
0 0 0
0 0 0
0 0 0
1 0 1
1 0 1
0 1 1
0 0 0
0 0 0
1 0 1
0 0 0
0 2 2
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 1 1
1 0 1
2 4 6
0 2 2
0 0 0
0 1 1
0 0 0
1 0 1
0 1 1
0 0 0
0 0 0
1 1 2
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
2 0 2
0 1 1
0 0 0
0 0 0
2 0 2
0 0 0
0 1 1
0 0 0
0 0 0
1 1 2
0 0 0
2 2 4
2 0 2
0 0 0
0 0 0
0 1 1
0 0 0
2 0 2
0 0 0
1 0 1
0 0 0
0 0 0
0 0 0
2 8 10
1 0 1
0 0 0
0 0 0
0 0 0
1 4 5
2 0 2
1 0 1
4 1 5
0 0 0
0 0 0
0 0 0
1 4 5
1 1 2
0 0 0
0 0 0
1 1 2
1 3 4
0 0 0
0 0 0
0 0 0
2 8 10
0 0 0
2 4 6
1 2 3
2 0 2
0 0 0
0 1 1
0 0 0
1 1 2
0 0 0
0 0 0
0 0 0
0 1 1
1 1 2
0 0 0
0 0 0
0 0 0
1 0 1
0 0 0
0 0 0
0 0 0
2 8 10
0 0 0
0 0 0
0 0 0
1 0 1
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
1 3 4
0 1 1
0 0 0
0 0 0
2 4 6
0 0 0
0 0 0
0 1 1
2 0 2
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
0 0 0
0 2 2
0 0 0
2 0 2
1 1 2
0 1 1
0 0 0
1 1 2
0 0 0
0 1 1
2 0 2
2 0 2
0 0 0
0 0 0
0 0 0
1 0 1
0 0 0
2 4 6
1 1 2
0 0 0
0 0 0
0 0 0
1 4 5
0 1 1
1 0 1
0 0 0
0 0 0
0 0 0
1 0 1
1 0 1
0 0 0
0 1 1
0 0 0
0 0 0
1 4 5
1 1 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
2 1 3
0 0 0
1 0 1
0 0 0
0 2 2
0 0 0
0 0 0
0 0 0
2 1 3
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
2 2 4
1 1 2
0 0 0
1 1 2
0 0 0
0 1 1
0 0 0
2 0 2
1 1 2
0 0 0
0 0 0
0 0 0
1 1 2
2 8 10
0 0 0
0 0 0
0 0 0
1 1 2
1 0 1
0 2 2
0 0 0
1 0 1
0 2 2
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
1 1 2
2 3 5
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
1 1 2
0 0 0
0 0 0
0 0 0
1 1 2
0 1 1
0 0 0
0 0 0
1 0 1
0 0 0
0 0 0
0 0 0
4 1 5
0 1 1
1 0 1
0 0 0
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
1 3 4
0 1 1
0 0 0
2 0 2
0 0 0
0 0 0
0 0 0
2 0 2
0 0 0
0 1 1
0 0 0
0 0 0
2 5 7
0 0 0
0 0 0
0 0 0
2 1 3
0 0 0
0 2 2
0 1 1
2 0 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 1 1
0 0 0
1 1 2
0 0 0
1 3 4
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
1 1 2
2 0 2
0 0 0
2 0 2
0 0 0
0 0 0
0 0 0
1 1 2
1 1 2
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
0 1 1
2 1 3
2 2 4
3 2 5
4 1 5
0 0 0
1 1 2
0 0 0
0 1 1
0 0 0
0 0 0
2 0 2
1 0 1
0 0 0
1 2 3
0 0 0
2 1 3
0 1 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 2 3
0 0 0
0 0 0
2 1 3
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
1 0 1
2 5 7
0 0 0
0 0 0
0 0 0
0 1 1
1 3 4
0 1 1
0 0 0
0 0 0
1 1 2
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
2 1 3
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
2 0 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
1 0 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 2 3
1 1 2
0 0 0
1 1 2
2 0 2
0 0 0
2 0 2
0 0 0
0 0 0
0 0 0
2 0 2
2 0 2
2 4 6
2 4 6
0 1 1
0 1 1
0 0 0
0 1 1
0 0 0
1 1 2
1 1 2
2 0 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
1 1 2
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 2 2
0 0 0
4 0 4
0 0 0
0 0 0
0 0 0
0 2 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 1 1
0 0 0
1 1 2
1 1 2
0 0 0
0 0 0
0 0 0
2 0 2
0 0 0
1 1 2
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
2 0 2
0 1 1
1 1 2
0 0 0
0 0 0
0 0 0
0 1 1
1 2 3
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
2 1 3
0 0 0
5 1 6
0 0 0
0 1 1
0 0 0
0 0 0
2 1 3
1 1 2
0 1 1
1 2 3
0 0 0
0 1 1
0 1 1
1 1 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
2 3 5
0 0 0
0 0 0
1 1 2
5 0 5
0 1 1
0 0 0
0 0 0
2 3 5
0 0 0
1 2 3
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 0 1
0 0 0
0 0 0
0 0 0
0 2 2
0 0 0
1 1 2
0 0 0
2 0 2
0 2 2
0 0 0
0 0 0
0 0 0
0 1 1
0 2 2
0 0 0
0 0 0
0 0 0
0 1 1
1 1 2
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
6 1 7
1 0 1
0 0 0
0 0 0
0 0 0
2 5 7
1 1 2
2 1 3
1 4 5
0 0 0
0 0 0
1 0 1
0 1 1
1 0 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 1 2
0 0 0
0 1 1
0 0 0
1 0 1
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
1 1 2
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 0 1
0 1 1
0 0 0
0 0 0
0 1 1
0 0 0
0 3 3
0 0 0
0 1 1
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
3 1 4
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
2 2 4
0 1 1
0 0 0
1 1 2
1 1 2
0 0 0
0 1 1
0 0 0
1 1 2
1 0 1
0 0 0
0 0 0
2 1 3
1 1 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
2 1 3
0 0 0
0 1 1
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
3 1 4
0 0 0
0 0 0
0 0 0
0 0 0
1 0 1
0 0 0
0 1 1
0 0 0
2 1 3
0 0 0
0 0 0
0 0 0
1 4 5
2 1 3
0 0 0
0 0 0
0 0 0
2 8 10
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
1 1 2
0 0 0
1 1 2
2 1 3
1 0 1
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
2 4 6
0 0 0
0 0 0
0 0 0
1 1 2
0 0 0
2 3 5
1 1 2
0 0 0
0 0 0
1 0 1
1 4 5
0 0 0
0 0 0
2 0 2
0 0 0
0 0 0
0 1 1
1 1 2
0 0 0
0 0 0
0 0 0
1 1 2
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
0 0 0
2 8 10
0 0 0
1 0 1
0 1 1
2 4 6
0 0 0
1 1 2
1 0 1
0 1 1
1 0 1
1 1 2
0 0 0
3 0 3
0 0 0
0 2 2
0 1 1
0 0 0
2 8 10
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
1 1 2
0 0 0
1 1 2
0 0 0
0 0 0
0 1 1
0 0 0
0 0 0
0 0 0
0 0 0
1 0 1
1 0 1
0 0 0
0 0 0
0 0 0
0 0 0
5 0 5
0 0 0
0 0 0
2 1 3
0 0 0
0 0 0

In [12]:
data['fam']

0       1
1       1
2       0
3       1
4       0
5       0
6       0
7       4
8       2
9       1
10      2
11      0
12      0
13      6
14      0
15      0
16      5
17      0
18      1
19      0
20      0
21      0
22      0
23      0
24      4
25      6
26      0
27      5
28      0
29      0
       ..
861     1
862     0
863    10
864     0
865     0
866     1
867     0
868     0
869     2
870     0
871     2
872     0
873     0
874     1
875     0
876     0
877     0
878     0
879     1
880     1
881     0
882     0
883     0
884     0
885     5
886     0
887     0
888     3
889     0
890     0
Name: fam, Length: 891, dtype: int64